@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@import "./react-select.scss";
@import "react-redux-toastr/src/styles/index";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Outfit", sans-serif;

	@apply bg-gray-900;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #e30b13;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}

.admin-form {
	@apply w-1/2 mt-12;
}

/* Slide animation */
.slide-animation-enter {
	opacity: 0;
	transform: scale(0.9);
}
.slide-animation-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}
.slide-animation-exit {
	opacity: 1;
}
.slide-animation-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}
