$bar-width: 20%;

.layout {
	@apply relative;

	> div:first-child,
	> div:last-child {
		@apply fixed top-0 bottom-0 overflow-y-scroll;
		width: $bar-width;
		max-width: 350px;
	}

	> div:first-child {
		@apply left-0 border-r border-r-gray-800;
	}

	> .center {
		@apply min-h-screen p-layout;
		margin: 0 $bar-width;
	}

	> div:last-child {
		@apply right-0 border-l border-l-gray-800;
	}
}
